.section-accordion-about-me {
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
}
.container-before-accordion {
  margin-top: 64px;
  margin-bottom: 32px;
  @include tablet {
    margin: 96px 32px 64px 32px;
  }
  @include desktop {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
  }
}
.container-with-info {
  border-radius: 24px;
  background: rgb(36, 37, 39);
  padding: 32px;
  margin-bottom: 16px;
  min-height: 500px;
  @include tablet {
    padding: 64px;
    min-height: 700px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
.text-before-img {
  color: #fafafa;
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  @include tablet {
    font-size: 38px;
    line-height: 40px;
  }
}
.red {
  color: var(--main-accent-color);
}
.grey {
  color: #fafafa66;
}
.list-about-me {
  flex-wrap: wrap;
  gap: 0 20px;
}
li.item-about-me {
  background-color: #1c1d20;
  border: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 30px 20px;
  margin-top: 0;
  &:not(:first-child) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}
// // li.item-about-me:nth-child(odd) {
// //   @include desktop {
// //     border-right: 1px solid rgba(250, 250, 250, 0.2);
// //   }
// // }
// li.item-about-me:nth-child(5) {
//   @include desktop {
//     border-bottom: 1px solid rgba(250, 250, 250, 0.2);
//   }
// }
// li.item-about-me:last-child {
//   border-bottom: 1px solid rgba(250, 250, 250, 0.2);
// }
// li.item-about-me:first-child{
//   border-bottom: none
// }
.ac .ac-trigger.trigger-about-me {
  padding: 0;
}
.ac .ac-trigger.trigger-about-me::after {
  content: url('/img/arrow-down-circle.svg');
  display: inline-block;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.ac.is-active > .ac-header .ac-trigger.trigger-about-me::after {
  content: url('/img/arrow-up-circle.svg');
  width: 16px;
  height: 16px;
}
.ac .ac-trigger.trigger-about-me {
  color: rgba(250, 250, 250, 0.4);
}

.ac .ac-panel .ac-text.text-about-me {
  color: rgb(250, 250, 250);
}

.ac-panel {
  display: block;
  width: 100%;
}
