.section-accordion-about-me {
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
}
.container-before-accordion {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  @media (min-width: 1000px) {
    flex-wrap: nowrap;
    gap: 16px;
  }
  @include desktop {
    flex-wrap: nowrap;
    gap: 16px;
  }
}
.container-with-info {
  border-radius: 24px;
  background: rgb(36, 37, 39);
  padding: 32px;
  height: 500px;
  max-width: 500px;

  @include tablet {
    padding: 64px;
    min-height: 550px;
    max-width: 550px;
  }
  @media (min-width: 1000px) {
    min-height: 550px;
    max-width: 550px;
  }

  @include desktop {
    margin-bottom: 0;
    min-height: 700px;
    max-width: 700px;
  }
}
.text-before-img {
  color: #fafafa;
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;

  @include tablet {
    font-size: 38px;
    line-height: 40px;
  }
}
.img-about-me {
  height: 500px;
  object-fit: cover;
  border-radius: 24px;
  @include tablet {
    height: 500px;
  }
  @media (min-width: 1000px) {
    height: 550px;
  }
  @include desktop {
    height: 700px;
  }
}
.red {
  color: var(--main-accent-color);
}
.grey {
  color: #fafafa66;
}
.list-about-me {
  flex-wrap: wrap;
  gap: 0 20px;
}
li.item-about-me {
  background-color: #1c1d20;
  border: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 30px 0;
  margin-top: 0;
  &:not(:first-child) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}

.ac .ac-trigger.trigger-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  text-transform: uppercase;
}
.svg-about-div {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}
.accordion-button-icon-about-me {
  overflow: visible;
  fill: #fafafa;
  stroke: #fafafa;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion-button-icon-about-me.clicked {
  transform: rotate(0);
}
.accordion-button-icon-about-me {
  transform: rotate(-180deg);
}
.ac .ac-trigger.trigger-about-me::after {
  content: '';
  display: inline-block;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.ac.is-active > .ac-header .ac-trigger.trigger-about-me::after {
  content: '';
  width: 16px;
  height: 16px;
}
.ac .ac-trigger.trigger-about-me {
  color: rgba(250, 250, 250, 0.4);
}

.ac .ac-panel .ac-text.text-about-me {
  color: rgb(250, 250, 250);
}

.ac-panel {
  display: block;
  width: 100%;
}
.about-acc-wraper {
  @include desktop {
    width: 50%;
    margin-left: 50%;
  }
}
.item-about-me.is-active .accordion-button-icon-about-me {
  transform: rotate(180deg);
}
/// swiper
.about-me-swiper-section {
  margin-top: 95px;
  position: relative;
}

.swiper.about-me-swiper-container {
  width: 260px;
  margin-left: 0;
  height: 130px;
  @media (min-width: 500px) {
    width: 420px;
  }

  @include mini-tablet {
    width: 600px;
    height: 200px;
  }
  @media (min-width: 1000px) {
    width: 900px;
  }

  @include desktop {
    // width: 87.2%;
    width: 1000px;
  }

  @media (min-width: 1310px) {
    width: 1200px;
  }
}
.about-me-swiper-wrapper-list.swiper-wrapper {
  width: 100%;
}

.about-me-swiper-wrapper-item.swiper-slide,
.about-me-swiper-btn {
  width: 130px;
  height: 130px;

  @include mini-tablet {
    width: 200px;
    height: 200px;
  }
}

.about-me-swiper-btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: inline-block;
  color: #fafafa;
  transition: 0.5s;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  padding: 50px 30px;
  @include mini-tablet {
    padding: 88px 52px;
  }
}
.about-me-swiper-wrapper-item.swiper-slide.swiper-slide-active
  > p.about-me-swiper-btn {
  background-color: var(--main-accent-color);
}

.about-me-swiper-wrapper-item.swiper-slide {
  width: auto;
}
.about-me-swiper-btn-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about-me-img-button {
  opacity: 0.2;
}
