.section-faq {
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
}

.title-faq {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
}

.list-faq {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}
li.item-faq {
  background-color: #1c1d20;
  border: 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding: 30px 20px;
  margin-top: 0;
}
.list-faq {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
li.item-faq:nth-child(odd) {
  @include desktop {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }
}
li.item-faq:nth-child(5) {
  @include desktop {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}
li.item-faq:nth-child(6) {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .ac-trigger.trigger-faq::after {
  content: url('../../img/SVG/arrow-down-circle.svg');
  display: inline-block;
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.ac.is-active > .ac-header .ac-trigger.trigger-faq::after {
  content: url('../../img/SVG/arrow-up-circle.svg');
  width: 16px;
  height: 16px;
}
.ac-trigger.trigger-faq {
  color: rgb(250, 250, 250) !important;
  font-family: Inter Tight;
}

.text-faq {
  color: rgba(250, 250, 250, 0.6) !important;
  font-family: Inter Tight, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.ac-panel {
  display: block;
  width: 100%;
}
