.section-faq {
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 64px;
}

.title-faq {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 32px;
}

li.item-faq {
  background-color: #1c1d20;
  border: 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding: 20px 0;
  margin-top: 0;
}
.list-faq {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
li.item-faq:nth-child(odd) {
  @include desktop {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 30px;
  }
}
li.item-faq:nth-child(even) {
  @include desktop {
    padding-left: 30px;
  }
}
li.item-faq:nth-child(5) {
  @include desktop {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}
li.item-faq:nth-child(6) {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .ac-trigger.trigger-faq::after {
  content: '';
  display: inline-block;
  background-position: 0px 0px;
}

.ac.is-active > .ac-header .ac-trigger.trigger-faq::after {
  content: '';
  width: 16px;
  height: 16px;
}
.ac .ac-trigger.trigger-faq {
  color: rgb(250, 250, 250) !important;
  font-family: Inter Tight;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.item-faq.is-active .accordion-button-icon-about-me {
  transform: rotate(180deg);
}
.text-faq {
  color: rgba(250, 250, 250, 0.6) !important;
  font-family: Inter Tight, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.ac-panel {
  display: block;
  width: 100%;
}

.span-faq-btn-ac {
  width: 265px;
  @include tablet {
    &:not(:last-child) {
      width: 100%;
    }
  }
}
.span-faq-btn-ac.span-longer-width {
  @include tablet {
    width: 465px;
  }
}
