<section class="section-accordion-about-me">
  <div class="container">
    <h2 hidden>About me</h2>
    <div class="container-before-accordion">
      <div class="container-with-info">
        <p class="text-before-img">
          I work with people all over the world to create impressive and
          <span class="red">functional</span>
          <span class="grey">websites</span> that reflect each client's unique
          personality.
        </p>
      </div>
      <img
        srcset="
          ./img/desktop-men-about-me@2x.png 1360w,
          ./img/desktop-men-about-me.png     680w,
          ./img/tablet-men-about-me@2x.png  1408w,
          ./img/tablet-men-about-me.png      704w,
          ./img/mobile-men-about-me@2x.png   686w
        "
        sizes="(min-width: 1158px) 680px,(min-width: 768px) 704px, (max-width: 767px) 343px"
        src="./img/mobile-men-about-me.png"
        alt="Men"
      />
    </div>
    <ul class="accordion-container list-about-me">
      <li class="ac item-about-me">
        <h3 class="ac-header header-about-me">
          <button type="button" class="ac-trigger trigger-about-me">
            About me
          </button>
        </h3>
        <div class="ac-panel panel-about-me">
          <p class="ac-text text-about-me">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text text-about-me">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="ac item-about-me">
        <h3 class="ac-header header-about-me">
          <button type="button" class="ac-trigger trigger-about-me">
            Role
          </button>
        </h3>
        <div class="ac-panel panel-about-me">
          <p class="ac-text text-about-me">
            <br />Frontend development <br />HeadlessCMS, Wordpress
            <br />Blender (enjoy)
          </p>
        </div>
      </li>
      <li class="ac item-about-me">
        <h3 class="ac-header header-about-me">
          <button type="button" class="ac-trigger trigger-about-me">
            Education
          </button>
        </h3>
        <div class="ac-panel panel-about-me">
          <p class="ac-text text-about-me">
            <br />2018 - 2019 / Frontend Development Diploma, GoIT IT School,
            New York <br />2019 - 2020 / Advanced Web Development Certificate,
            GoIT IT School, New York <br />2020 - 2022 / Advanced Blender
            Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
