<section class="about-me">
  <div class="container">
    <div class="about-me-section">
      <h2 class="about-me-title">ABOUT ME</h2>
      <button class="about-me-toggle" aria-expanded="false" aria-controls="about-me-details">&#9660;</button>
      <div id="about-me-details" class="about-me-details">
        <p>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
        <p>Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks, and architectural concepts that allow me to create efficient and scalable software.</p>
      </div>
    </div>
    <div class="about-me-section">
      <h2 class="about-me-title">ROLE</h2>
      <button class="about-me-toggle" aria-expanded="false" aria-controls="role-details">&#9660;</button>
      <div id="role-details" class="about-me-details">
        <ul class="swiper-container">
          <li class="swiper-slide">Frontend development</li>
          <li class="swiper-slide">HeadlessCMS, Wordpress</li>
          <li class="swiper-slide">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
    <div class="about-me-section">
      <h2 class="about-me-title">EDUCATION</h2>
      <button class="about-me-toggle" aria-expanded="false" aria-controls="education-details">&#9660;</button>
      <div id="education-details" class="about-me-details">
        <ul class="swiper-container">
          <li class="swiper-slide">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
          <li class="swiper-slide">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
          <li class="swiper-slide">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
        </ul>
      </div>
    </div>
  </div>
</section>
