<section class="section benefits">
    <div class="benefits-container">
        <h2 class="benefits-name">
        </h2>
    </div>
    <div class="benefits-name">
        <ul class="benefits-list list">
            <li class="benefits-item">
                <div class="benefits-icon-image">
                    <svg class="user"
                    width=""
                    height="">
                    <use href="./img/benefits.svg#icon-user">
                    </use>
                </svg>
                </div>
                <h3 class="benefits-content">

                </h3>
            </li>
            <li class="benefits-item">
            </li>
            <li class="benefits-item">
            </li>
            <li class="benefits-item">
            </li>
        </ul>
        <button type="button" class="benefits-btn">

        </button>
    </div>
</section>