<link rel="stylesheet" href="../sass/section/_benefits.scss" />
<section class="container section-benefits">
  <h2 class="benefits-title">Benefits of working with me</h2>
  <ul class="benefits-list">
    <li class="benefits-list-item">
      <div class="benefits-svg-container">
        <svg class="benefits-list-item-svg" width="24px" height="24px">
          <use xlink:href="../public/sprite.svg#icon-user"></use>
        </svg>
      </div>

      <h3 class="benefits-list-item-title">Expertise</h3>
      <p class="benefits-list-item-text">
        As a highly experienced developer, I have deep knowledge of programming
        and website development.
      </p>
    </li>
    <li class="benefits-list-item">
      <div class="benefits-svg-container">
        <svg class="benefits-list-item-svg" width="24px" height="24px">
          <use xlink:href="../public/sprite.svg#icon-chat"></use>
        </svg>
      </div>

      <h3 class="benefits-list-item-title">Communication</h3>
      <p class="benefits-list-item-text">
        Understanding your needs and wants is my priority and I am always open
        to discussions and corrections.
      </p>
    </li>
    <li class="benefits-list-item">
      <div class="benefits-svg-container">
        <svg class="benefits-list-item-svg" width="24px" height="24px">
          <use xlink:href="../public/sprite.svg#icon-brush"></use>
        </svg>
      </div>

      <h3 class="benefits-list-item-title">Art</h3>
      <p class="benefits-list-item-text">
        Thanks to my creative nature, I am ready to accept challenges and help
        you bring your ideas to life.
      </p>
    </li>
    <li class="benefits-list-item">
      <div class="benefits-svg-container">
        <svg class="benefits-list-item-svg" width="24px" height="24px">
          <use
            xlink:href="../public/sprite.svg#icon-hourglass"
            width="24px"
            height="24px"
          ></use>
        </svg>
      </div>

      <h3 class="benefits-list-item-title">Urgent execution</h3>
      <p class="benefits-list-item-text">
        I understand how important time is to you. Ready to work quickly and
        efficiently, without reducing the quality of work.
      </p>
    </li>
  </ul>
  <a class="benefits-order-btn" href="#">Order the project</a>
</section>
