<section class="section benefits">
    <div class="benefits-container">
        <h2 class="benefits-name">
        </h2>
    </div>
    <div class="benefits-name">
        <ul class="benefits-list list">
            <li class="benefits-item">
                <div class="benefits-icon-image">
                    <svg class="user"
                    width="24"
                    height="24">
                    <use href="./img/benefits.svg#icon-user">
                    </use>
                </svg>
                </div>
                <h3 class="benefits-content">Expertise</h3>
                <p class="benefits-content-text">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon-image">
                    <svg class="communication"
                    width="24"
                    height="24">
                    <use href="./img/benefits.svg#icon-communication">
                    </use>
                </svg>
                </div>
                <h3 class="benefits-content">Communication</h3>
                <p class="benefits-content-text">Understanding your needs and wants is my priority and I am always open to descussions and corrections.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon-image">
                    <svg class="art"
                    width="24"
                    height="24">
                    <use href="./img/benefits.svg#icon-art">
                    </use>
                </svg>
                </div>
                <h3 class="benefits-content">Art</h3>
                <p class="benefits-content-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon-image">
                    <svg class="sandwatch"
                    width="24"
                    height="24">
                    <use href="./img/benefits.svg#icon-sandwatch">
                    </use>
                </svg>
                </div>
                <h3 class="benefits-content">Urgent execution</h3>
                <p class="benefits-content-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            </li>
        </ul>
        <button type="button" class="benefits-btn">
            <p class="benefits-btn-descr">Order the project</p>

        </button>
    </div>
</section>