<section class="covers-section">
    <h2 class="visually-hidden">Covers</h2>
      <div class="marquee">
      <div class="marquee__inner">
        <ul class="photos-list">
        <li class="animation-photo"><img 
            src="/img/covers-img/PowerPulse-pc.jpeg" 
            srcset="/img/covers-img/PowerPulse-pc@2x.jpeg 2x" alt="Power Pulse" 
            ></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/Mimino-pc.jpeg" 
            srcset="/img/covers-img/Mimino-pc@2x.jpeg 2x"
            alt="Mimino" 
            ></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/UkrainianArtisty-pc.jpeg" 
            srcset="/img/covers-img/UkrainianArtisty-pc@2x.jpeg 2x"
            alt="Ukrainian Artisty" ></li>
        <li class="animation-photo"><img
             src="/img/covers-img/Wallet-pc.jpeg" 
             srcset="/img/covers-img/Wallet-pc@2x.jpeg 2x"
            alt="Wallet"></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/Chego-pc.jpeg" 
            srcset="/img/covers-img/Chego-pc@2x.jpeg 2x"
            alt="Chego" ></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/EnergyFlow-pc.jpeg" 
            srcset="/img/covers-img/EnergyFlow-pc@2x.jpeg 2x"
            alt="Energy Flow"></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/Fruitbox-pc.jpeg" 
            srcset="/img/covers-img/Fruitbox-pc@2x.jpeg 2x"
            alt="Fruitbox" ></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/English-pc.jpeg" 
            srcset="/img/covers-img/English-pc@2x.jpeg 2x"
            alt="English" ></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/StarlightStudio-pc.jpeg" 
            srcset="/img/covers-img/StarlightStudio-pc@2x.jpeg 2x"
            alt="Studio" ></li>
            <li class="animation-photo"><img 
            src="/img/covers-img/PowerPulse-pc.jpeg" 
            srcset="/img/covers-img/PowerPulse-pc@2x.jpeg 2x" alt="Power Pulse" 
            ></li>
        <li class="animation-photo"><img 
            src="/img/covers-img/Mimino-pc.jpeg" 
            srcset="/img/covers-img/Mimino-pc@2x.jpeg 2x"
            alt="Mimino" 
            ></li>
        </ul>
      </div>
    <div class="marquee__inner">
        <ul class="photos-list">
            <li class="animation-photo"><img 
                src="/img/covers-img/EnergyFlow-pc.jpeg" 
                srcset="/img/covers-img/EnergyFlow-pc@2x.jpeg 2x"
                alt="Energy Flow"></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Fruitbox-pc.jpeg" 
                srcset="/img/covers-img/Fruitbox-pc@2x.jpeg 2x"
                alt="Fruitbox" ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/English-pc.jpeg" 
                srcset="/img/covers-img/English-pc@2x.jpeg 2x"
                alt="English" ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/StarlightStudio-pc.jpeg" 
                srcset="/img/covers-img/StarlightStudio-pc@2x.jpeg 2x"
                alt="Studio" ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/PowerPulse-pc.jpeg" 
                srcset="/img/covers-img/PowerPulse-pc@2x.jpeg 2x" 
                alt="Power Pulse" 
                ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Mimino-pc.jpeg" 
                srcset="/img/covers-img/Mimino-pc@2x.jpeg 2x"
                alt="Mimino" 
                ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/UkrainianArtisty-pc.jpeg" 
                srcset="/img/covers-img/UkrainianArtisty-pc@2x.jpeg 2x"
                alt="Ukrainian Artisty" ></li>
            <li class="animation-photo"><img
                 src="/img/covers-img/Wallet-pc.jpeg" 
                 srcset="/img/covers-img/Wallet-pc@2x.jpeg 2x"
                alt="Wallet"></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Chego-pc.jpeg" 
                srcset="/img/covers-img/Chego-pc@2x.jpeg 2x"
                alt="Chego" ></li>
              </ul>
        </div>
     <div class="marquee__inner">
        <ul class="photos-list">
            <li class="animation-photo"><img 
                src="/img/covers-img/English-pc.jpeg" 
                srcset="/img/covers-img/English-pc@2x.jpeg 2x"
                alt="English" ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/StarlightStudio-pc.jpeg" 
                srcset="/img/covers-img/StarlightStudio-pc@2x.jpeg 2x"
                alt="Studio" ></li>
             
            <li class="animation-photo"><img 
                src="/img/covers-img/PowerPulse-pc.jpeg" 
                srcset="/img/covers-img/PowerPulse-pc@2x.jpeg 2x" 
                alt="Power Pulse" 
                ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Mimino-pc.jpeg" 
                srcset="/img/covers-img/Mimino-pc@2x.jpeg 2x"
                alt="Mimino" 
                ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/UkrainianArtisty-pc.jpeg" 
                srcset="/img/covers-img/UkrainianArtisty-pc@2x.jpeg 2x"
                alt="Ukrainian Artisty" ></li>
            <li class="animation-photo"><img
                 src="/img/covers-img/Wallet-pc.jpeg" 
                 srcset="/img/covers-img/Wallet-pc@2x.jpeg 2x"
                alt="Wallet"></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Chego-pc.jpeg" 
                srcset="/img/covers-img/Chego-pc@2x.jpeg 2x"
                alt="Chego" ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/EnergyFlow-pc.jpeg" 
                srcset="/img/covers-img/EnergyFlow-pc@2x.jpeg 2x"
                alt="Energy Flow"></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Fruitbox-pc.jpeg" 
                srcset="/img/covers-img/Fruitbox-pc@2x.jpeg 2x"
                alt="Fruitbox" ></li>
            </ul>
     </div>
        <div class="marquee__inner">
            <ul class="photos-list">
            <li class="animation-photo"><img 
                src="/img/covers-img/PowerPulse-pc.jpeg" 
                srcset="/img/covers-img/PowerPulse-pc@2x.jpeg 2x" 
                alt="Power Pulse" 
                ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/Mimino-pc.jpeg" 
                srcset="/img/covers-img/Mimino-pc@2x.jpeg 2x"
                alt="Mimino" 
                ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/UkrainianArtisty-pc.jpeg" 
                srcset="/img/covers-img/UkrainianArtisty-pc@2x.jpeg 2x"
                alt="Ukrainian Artisty" ></li>
              
            <li class="animation-photo"><img 
                src="/img/covers-img/Fruitbox-pc.jpeg" 
                srcset="/img/covers-img/Fruitbox-pc@2x.jpeg 2x"
                alt="Fruitbox" ></li>
                <li class="animation-photo"><img 
                    src="/img/covers-img/Chego-pc.jpeg" 
                    srcset="/img/covers-img/Chego-pc@2x.jpeg 2x"
                    alt="Chego" ></li>
           
            <li class="animation-photo"><img 
                src="/img/covers-img/StarlightStudio-pc.jpeg" 
                srcset="/img/covers-img/StarlightStudio-pc@2x.jpeg 2x"
                alt="Studio" ></li>
         <li class="animation-photo"><img
                    src="/img/covers-img/Wallet-pc.jpeg" 
                    srcset="/img/covers-img/Wallet-pc@2x.jpeg 2x"
                   alt="Wallet"></li>
               
                   <li class="animation-photo"><img 
                    src="/img/covers-img/English-pc.jpeg" 
                    srcset="/img/covers-img/English-pc@2x.jpeg 2x"
                    alt="English" ></li>
               <li class="animation-photo"><img 
                   src="/img/covers-img/EnergyFlow-pc.jpeg"  
                   srcset="/img/covers-img/EnergyFlow-pc@2x.jpeg 2x"
                   alt="Energy Flow"></li>
                 </ul>
        </div>
        <div class="marquee__inner">
            <ul class="photos-list">
                <li class="animation-photo"><img 
                    src="/img/covers-img/Chego-pc.jpeg" 
                    srcset="/img/covers-img/Chego-pc@2x.jpeg 2x"
                    alt="Chego" ></li>
             <li class="animation-photo"><img
                        src="/img/covers-img/Wallet-pc.jpeg" 
                        srcset="/img/covers-img/Wallet-pc@2x.jpeg 2x"
                       alt="Wallet"></li>
                <li class="animation-photo "><img 
                    src="/img/covers-img/PowerPulse-pc.jpeg" 
                    srcset="/img/covers-img/PowerPulse-pc@2x.jpeg 2x" 
                    alt="Power Pulse" 
                    ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/UkrainianArtisty-pc.jpeg" 
                srcset="/img/covers-img/UkrainianArtisty-pc@2x.jpeg 2x"
                alt="Ukrainian Artisty" ></li>
         
            <li class="animation-photo"><img 
                src="/img/covers-img/Fruitbox-pc.jpeg" 
                srcset="/img/covers-img/Fruitbox-pc@2x.jpeg 2x"
                alt="Fruitbox" ></li>
            <li class="animation-photo"><img 
                src="/img/covers-img/English-pc.jpeg" 
                srcset="/img/covers-img/English-pc@2x.jpeg 2x"
                alt="English" ></li>
          
               <li class="animation-photo"><img 
                   src="/img/covers-img/EnergyFlow-pc.jpeg"  
                   srcset="/img/covers-img/EnergyFlow-pc@2x.jpeg 2x"
                   alt="Energy Flow"></li>
                   <li class="animation-photo "><img 
                    src="/img/covers-img/StarlightStudio-pc.jpeg" 
                    srcset="/img/covers-img/StarlightStudio-pc@2x.jpeg 2x"
                    alt="Studio" ></li>
                    <li class="animation-photo"><img 
                        src="/img/covers-img/Mimino-pc.jpeg" 
                        srcset="/img/covers-img/Mimino-pc@2x.jpeg 2x"
                        alt="Mimino" 
                        ></li>
                 </ul>

        </div>
     </div>
</section>