<section class="section-faq">
  <div class="container">
    <h2 class="title-faq" id="faQ">FAQ</h2>
    <ul class="accordion-container list-faq">
      <li class="ac item-faq">
        <h3 class="ac-header header-faq">
          <button type="button" class="ac-trigger trigger-faq">
            <span class="span-faq-btn-ac"
              >What programming languages are most often used in your
              project?</span
            >
            <div class="svg-about-div">
              <svg
                class="accordion-button-icon-about-me clicked"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
          </button>
        </h3>
        <div class="ac-panel panel-faq">
          <p class="ac-text text-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac item-faq">
        <h3 class="ac-header header-faq">
          <button type="button" class="ac-trigger trigger-faq">
            <span class="span-faq-btn-ac"
              >What are the deadlines for the project?</span
            >
            <div class="svg-about-div">
              <svg
                class="accordion-button-icon-about-me clicked"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
          </button>
        </h3>
        <div class="ac-panel panel-faq">
          <p class="ac-text text-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac item-faq">
        <h3 class="ac-header header-faq">
          <button type="button" class="ac-trigger trigger-faq">
            <span class="span-faq-btn-ac"
              >What payment methods do you accept?</span
            >
            <div class="svg-about-div">
              <svg
                class="accordion-button-icon-about-me clicked"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
          </button>
        </h3>
        <div class="ac-panel panel-faq">
          <p class="ac-text text-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac item-faq">
        <h3 class="ac-header header-faq">
          <button type="button" class="ac-trigger trigger-faq">
            <span class="span-faq-btn-ac">How can I contact you?</span>
            <div class="svg-about-div">
              <svg
                class="accordion-button-icon-about-me clicked"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
          </button>
        </h3>
        <div class="ac-panel panel-faq">
          <p class="ac-text text-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac item-faq">
        <h3 class="ac-header header-faq">
          <button type="button" class="ac-trigger trigger-faq">
            <span class="span-faq-btn-ac">
              Do you provide advice or support?</span
            >
            <div class="svg-about-div">
              <svg
                class="accordion-button-icon-about-me clicked"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
          </button>
        </h3>
        <div class="ac-panel panel-faq">
          <p class="ac-text text-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac item-faq">
        <h3 class="ac-header header-faq">
          <button type="button" class="ac-trigger trigger-faq">
            <span class="span-faq-btn-ac span-longer-width">
              What does the process of developing a software product look like
              from idea to implementation?</span
            >
            <div class="svg-about-div">
              <svg
                class="accordion-button-icon-about-me clicked"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </div>
          </button>
        </h3>
        <div class="ac-panel panel-faq">
          <p class="ac-text text-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
