<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="section-faq">
      <div class="container container-ac">
        <h2 class="title title-faq">FAQ</h2>
        <ul class="list-faq">
          <div class="div-ac">
            <li class="item-faq">
              <p class="question-faq ac-header">
                What programming languages are most often used in your project?
              </p>
              <button class="ac-trigger btn toggle-down"></button>
              <div class="ac-panel">
                <p class="answer-faq is-hidden">
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </li>
          </div>
          <div class="div-ac">
            <li class="item-faq">
              <p class="question-faq ac-header">
                What are the deadlines for the project?
              </p>
              <button class="ac-trigger btn toggle-down"></button>
              <div class="ac-panel">
                <p class="answer-faq is-hidden">
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </li>
          </div>
          <div class="div-ac">
            <li class="item-faq">
              <p class="question-faq ac-header">
                What payment methods do you accept?
              </p>
              <button class="ac-trigger btn toggle-down"></button>
              <div class="ac-panel">
                <p class="answer-faq is-hidden">
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </li>
          </div>
          <div class="div-ac">
            <li class="item-faq">
              <p class="question-faq ac-header">How can I contact you?</p>
              <button class="ac-trigger btn toggle-down"></button>
              <div class="ac-panel">
                <p class="answer-faq is-hidden">
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </li>
          </div>
          <div class="div-ac">
            <li class="item-faq">
              <p class="question-faq ac-header">
                Do you provide advice or support?
              </p>
              <button class="ac-trigger btn toggle-down"></button>
              <div class="ac-panel">
                <p class="answer-faq is-hidden">
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </li>
          </div>
          <div class="div-ac">
            <li class="item-faq">
              <p class="question-faq ac-header">
                What does the process of developing a software product look like
                from idea to implementation?
              </p>
              <button class="ac-trigger btn toggle-down"></button>
              <div class="ac-panel">
                <p class="answer-faq is-hidden">
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </section>
    <script type="module" src="../js/accordion/faq-accordion.js"></script>
  </body>
</html>
