<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack <br />
      developer <br />Lloyd Jefferson.
    </h1>

    <ul class="socials-list">
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="https://github.com/VanoLogin/project-group-19"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
