<section class="hero">
  <div class="container">
    <div class="hero-title-socials-wrapper">
      <h1 class="hero-title">
        Hello. I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <ul class="socials-list">
        <li class="socials-list-item">
          <a class="socials-list-link" href="">IG</a>
        </li>
        <li class="socials-list-item">
          <a class="socials-list-link" href="">FB</a>
        </li>
        <li class="socials-list-item">
          <a class="socials-list-link" href="">YT</a>
        </li>
        <li class="socials-list-item">
          <a class="socials-list-link" href="">GH</a>
        </li>
        <li class="socials-list-item">
          <a class="socials-list-link" href="">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
