<div class="modal">
  <div class="modal-container">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-svg" width="28px" height="28px">
        <use href="/public/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>
    <ul class="modal-menu-list">
      <li class="menu-list-modal"><a href="#about-me">About me</a></li>
      <li class="menu-list-modal"><a href="#benefits">Benefits</a></li>
      <li class="menu-list-modal"><a href="#reviews">Projects</a></li>
      <li class="menu-list-modal"><a href="#faq">FAQ</a></li>
    </ul>
    <button class="modal-order-btn">
      <a href="#footer"> Order the project </a>
    </button>
  </div>
</div>
