<!-- <section class="project">
  <div class="container">
    <h2 class="project-title">PROJECT</h2>
    <div class="swiper project-swiper">
      <ul class="swiper-wrapper project-swiper-wraper">
        <li class="swiper-slide project-swiper-wraper-slide">
          <div class="project-container">
            <div class="project-package">
              <div class="item1">
                <div class="item1-container">
                  <ul class="item1-skils">
                    <li class="skils-name">#react</li>
                    <li class="skils-name">#js</li>
                    <li class="skils-name">#node js</li>
                    <li class="skils-name">#git</li>
                  </ul>

                  <p class="item1-text">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </p>

                  <a
                    class="item1-button"
                    href="https://github.com/VanoLogin/project-group-19"
                  >
                    See project
                  </a>
                </div>
              </div>

              <div class="item2">
                <div class="projects-item">
                  <img
                    class="item2-img"
                    src="./img/project-img/slideTwoDog.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide project-swiper-wraper-slide">
          <div class="project-container">
            <div class="project-package">
              <div class="item1">
                <div class="item1-container">
                  <ul class="item1-skils">
                    <li class="skils-name">#react</li>
                    <li class="skils-name">#js</li>
                    <li class="skils-name">#node js</li>
                    <li class="skils-name">#git</li>
                  </ul>

                  <p class="item1-text">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </p>

                  <a
                    class="item1-button"
                    href="https://github.com/VanoLogin/project-group-19"
                  >
                    See project
                  </a>
                </div>
              </div>

              <div class="item2">
                <div class="projects-item">
                  <img
                    class="item2-img"
                    src="./img/project-img/slideThreeFamily.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide project-swiper-wraper-slide">
          <div class="project-container">
            <div class="project-package">
              <div class="item1">
                <div class="item1-container">
                  <ul class="item1-skils">
                    <li class="skils-name">#react</li>
                    <li class="skils-name">#js</li>
                    <li class="skils-name">#node js</li>
                    <li class="skils-name">#git</li>
                  </ul>

                  <p class="item1-text">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </p>

                  <a
                    class="item1-button"
                    href="https://github.com/VanoLogin/project-group-19"
                  >
                    See project
                  </a>
                </div>
              </div>

              <div class="item2">
                <div class="projects-item">
                  <img
                    class="item2-img"
                    src="./img/project-img/slideOnePhone.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="project-swiper-button-container">
      <div class="swiper-button-prev project-swiper-button-prev">
        <svg
          class="project-img-button left-button"
          fill="FAFAFA"
          width="24"
          height="24"
        >
          <use href="sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>

      <div class="swiper-button-next project-swiper-button-next">
        <svg class="project-img-button" fill="FAFAFA" width="24" height="24">
          <use href="sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
    </div>
  </div>
</section> -->
<section class="projects" id="projects-id">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-sections">
      <div class="projects-top-section">
        <ul class="technologies-list">
          <li class="technologies-list-item">#react</li>
          <li class="technologies-list-item">#js</li>
          <li class="technologies-list-item">#node js</li>
          <li class="technologies-list-item">#git</li>
        </ul>
        <p class="projects-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <a class="projects-btn" href="" target="blank">See project</a>
      </div>
      <div class="projects-bottom-section swiper projSwiper">
        <ul class="projects-list swiper-wrapper">
          <li class="projects-list-item swiper-slide">
            <picture class="project-img">
              <img src="../img/project-img/slideOnePhone.png" alt="" />
            </picture>
          </li>
          <li class="projects-list-item swiper-slide">
            <picture>
              <img src="../img/project-img/slideThreeFamily.png" alt="" />
            </picture>
          </li>
          <li class="projects-list-item swiper-slide">
            <picture>
              <img src="../img/project-img/slideTwoDog.png" alt="" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="arrows swiper-buttons">
      <button
        class="arrow-btn prev-btn-proj"
        type="button"
        aria-label="Next photo"
      >
        <svg class="arrow-icon">
          <use href="../public/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button
        class="arrow-btn next-btn-proj"
        type="button"
        aria-label="Previos photo"
      >
        <svg class="arrow-icon">
          <use href="../public/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
    </div> -->
    <div class="swiper-button-wrap">
      <div
        class="swiper-button-prev swiper-reviews-button-prev swiper-projects-button-prev"
      >
        <svg
          class="reviews-img-button left-button"
          width="24"
          height="24"
          fill="FAFAFA"
        >
          <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
      <div
        class="swiper-button-next swiper-reviews-button-next swiper-projects-button-next"
      >
        <svg class="reviews-img-button" width="24" height="24" fill="FAFAFA">
          <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
