<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
    <section class="project">
    
            <h2 class="project-title">PROJECT</h2>

            <div class="swiper">

                <ul class="swiper-wrapper progect-swiper-wrapper">
                    <li class="swiper-slide">

                        <div class="project-container">

                            <!-- container -->
                            <div class="project-package">

                                <div class=" item1">

                                    <div class="item1-container">

                                        <ul class="item1-skils">
                                            <li class="skils-name">#react</li>
                                            <li class="skils-name">#js</li>
                                            <li class="skils-name">#node js</li>
                                            <li class="skils-name">#git</li>
                                        </ul>

                                        <p class="item1-text ">
                                            Programming Across Borders: Ideas, Technologies, Innovations
                                        </p>


                                        <button class="item1-button">
                                            See project
                                        </button>

                                    </div>
                                </div>


                                <div class="item2">
                                    <div class="projects-item">
                                        <img class="item2-img" src="/src/img/project-img/image 2.png" alt="">
                                    </div>
                                </div>

                            </div>


                        </div>
                    </li>
                    <li class="swiper-slide">

                        <div class="project-container">

                            <!-- container -->
                            <div class="project-package">

                                <div class=" item1">

                                    <div class="item1-container">

                                        <ul class="item1-skils">
                                            <li class="skils-name">#react</li>
                                            <li class="skils-name">#js</li>
                                            <li class="skils-name">#node js</li>
                                            <li class="skils-name">#git</li>
                                        </ul>

                                        <p class="item1-text ">
                                            Programming Across Borders: Ideas, Technologies, Innovations
                                        </p>


                                        <button class="item1-button">
                                            See project
                                        </button>

                                    </div>
                                </div>


                                <div class="item2">
                                    <div class="projects-item">
                                        <img class="item2-img" src="/src/img/project-img/image-2.png" alt="">
                                    </div>
                                </div>

                            </div>


                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="project-container">

                            <!-- container -->
                            <div class="project-package">

                                <div class=" item1">

                                    <div class="item1-container">

                                        <ul class="item1-skils">
                                            <li class="skils-name">#react</li>
                                            <li class="skils-name">#js</li>
                                            <li class="skils-name">#node js</li>
                                            <li class="skils-name">#git</li>
                                        </ul>

                                        <p class="item1-text ">
                                            Programming Across Borders: Ideas, Technologies, Innovations
                                        </p>


                                        <button class="item1-button">
                                            See project
                                        </button>

                                    </div>
                                </div>


                                <div class="item2">
                                    <div class="projects-item">
                                        <img class="item2-img" src="/src/img/project-img/image 2 (1).png" alt="">
                                    </div>
                                </div>

                            </div>


                        </div>
                    </li>
                </ul>


                <div class="project-container-swiper-button">
                    <div class="swiper-button-prev project-swiper-btn-prev"><img class="img-button" src="/src/img/project-img/left-arrow.svg" alt=""></div>
                    <div class="swiper-button-next project-swiper-btn-next"><img src="/src/img/project-img/arrow.svg" alt=""></div>
                </div>
            </div>

    </section>

    

</body>

</html>