<section class="reviews">
    <div class="container">
        <h2 class="header-reviews">Reviews</h2>
            <div class="swiper">
                <ul class="swiper-wrapper"></ul>

                <!-- control buttons -->
                <div class="swiper-button">
                    <div class="swiper-button-prev">
                        <img class="img-button" src="../img/arrow.png" alt="previous one">
                    </div>
                    <div class="swiper-button-next">
                        <img class="img-button" src="../img/arrow.png" alt="next one">
                    </div>
                </div>
            
            </div>
    </div>
</section>
