<section class="reviews">
    <div class="container reviews-container">
        <h2 class="header-reviews">Reviews</h2>
            <div class="swiper reviews-swiper">
                <ul class="swiper-wrapper reviews-swiper-wrapper"></ul>

                <!-- control buttons -->
                <div class="swiper-button-wrap">
                    <div class="swiper-reviews-button-prev">
                        <svg class="reviews-img-button" width="32" height="32" fill="FAFAFA">
                            <use href="../img/arrow.svg"></use>
                        </svg>
                    </div>
                    <div class="swiper-reviews-button-next">
                        <svg class="reviews-img-button" width="32" height="32" fill="FAFAFA">
                            <use href="../img/arrow.svg"></use>
                        </svg>
                    </div>
                </div>
            
            </div>
    </div>
</section>
