<section class="reviews">
    <div class="container">
        <h2 class="header-reviews">Reviews</h2>

            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img class="review-person-photo" src="../img/person.png" alt="Person photo">
                        <p class="review-person-name">Natalia</p>
                        <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were
                        completed on time and the result exceeded my expectations</p>
                </li>
                <!-- <li class="swiper-slide">
                    <img class="review-person-photo" src="" alt="Person photo">
                    <div class="review-textblock">
                        <p class="review-person-name"></p>
                        <p class="review-text">Відгук 2</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img class="review-person-photo" src="" alt="Person photo">
                    <div class="review-textblock">
                        <p class="review-person-name"></p>
                        <p class="review-text">Відгук 3</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img class="review-person-photo" src="" alt="Person photo">
                    <div class="review-textblock">
                        <p class="review-person-name"></p>
                        <p class="review-text">Відгук 4</p>
                    </div>
                </li> -->
            
    
            <!-- control buttons -->
            <!-- <div class="swiper-button">
                <div class="swiper-button-prev">
            
                    <p>+--</p>
                </div>
                <div class="swiper-button-next">
                 
                    <p>--+</p>
                </div>
            </div> -->
            </ul>
    
    </div>
</section>
