<section class="footer" id="order">
  <div class="footer-bgrd">
    <div class="container">
      <div class="footer-wraper" id="footer">
        <div class="footer-header">
          <a href="/" class="footer-logo">
            <picture>
              <source
                srcset="
                  ./img/footer/image-mob-1x.png 1x,
                  ./img/footer/image-mob-2x.png 2x
                "
                media="(max-width: 768px)" />
              <source
                srcset="
                  ./img/footer/image-1x.png 1x,
                  ./img/footer/image-2x.png 2x
                "
                media="(min-width: 768px)" />
              <img
                src="./img/footer/image-1x.png"
                alt="portrait"
                width="70"
                height="70"
            /></picture>
          </a>
          <h2 class="footer-title">
            <span class="start-title-span"
              >Let's <span class="footer-span">work</span></span
            >
            <span> together</span>
          </h2>
        </div>
        <form class="footer-form">
          <input
            type="email"
            name="email"
            id="email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            placeholder="clients@gmail.com"
            required
            autofocus
          />
          <input
            class="test"
            type="text"
            name="comments"
            id="comments"
            placeholder="comments"
            required
          />
          <button type="submit" class="footer-btn">Send</button>
        </form>

        <ul class="footer-contacts">
          <li class="footer-item">
            <a href="mailto:" class="footer-link">lloydjefferson@gmail.com</a>
          </li>
          <li class="footer-item">
            <a href="tel:+3801111111111" class="footer-link"
              >+380 11 1111 11 11</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!----------                 modal       -->
