.container {
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  @media screen and (min-width: 375px) {
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}
